<ul>
    <li *ngFor="let item of items | async">
        <div>
            {{ item.owner }}
        </div>
        <div>
            {{ item.title }}
        </div>
        <div>
            {{ item.date }}
        </div>
        <div>
            {{ item.datePirsum }}
        </div>
        <div>
            {{ item.link1 }} 
        </div>
        <div>
            {{ item.tag }} 
        </div>
        <div>
            {{ item.text }} 
        </div>
        <div><button (click)="deleteItem(item)">מחק</button></div>
    </li>
  </ul>
  <input type="text" placeholder="מי הכניס את הידיעה ?" #owner>
  <input type="text" #title placeholder="כותרת">
  <input type="date" #date placeholder="תאריך אירוע"> 
  <input type="date" #datePirsum placeholder="תאריך פרסום"> 

  <!-- <button (click)="showLinks=!showLinks">עוד קישורים</button> -->
 
    <input type="text" #link1 placeholder="קישור לכתבה">
    <input type="text" #link2 placeholder="קישור לכתבה">
    <input type="text" #link3 placeholder="קישור לכתבה">
    <input type="text" #link4 placeholder="קישור לכתבה">
    <input type="text" #link5 placeholder="קישור לכתבה">
  <!-- </div> -->
  <input type="text" #tag placeholder="- תיוג חופשי- שימו פסיק להפריד בין תגים">


  <textarea name="" id="" cols="100" rows="10" #text placeholder="תוכן"></textarea>
  <button (click)="addItem(owner.value,title.value,date.value,datePirsum.value,link1.value,link2.value,link3.value,link4.value,link5.value,tag.value,text.value)">add</button>